h1 {
    color: white;
    font-size: 100px;
    text-align: center;
  }
body {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #14181C;
}
.x {
    color: white;
    /*background-color: red;*/
    width: fit-content;
    margin: auto;
}

.y {
    /*background-color: blue;*/
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

a, a:visited {
    color: white;
}

form {
    text-align: center;
}