<!DOCTYPE html>
<html lang='br' dir='ltr'>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'index.css' %}">
        <meta charset='utf-8'>
        <title>Atualizar Filme</title>
    </head>
    {% if not user.is_authenticated %}
        <h2>Você não está logado na sua conta!</h2>
        <p>Acesse sua conta na <a href="{% url 'home'%}">página inicial</a> para cadastrar seus filmes.</p>
    {% else %}
    <body>
        <p>
            <a href="{% url 'home'%}">Página inicial</a>
        </p>
        <h1>
            Atualizar filme cadastrado
        </h1>
        <div class = "y">
            <div class = "x">
                <form class='' action='' method='post'>
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <button type='submit'>Atualizar</button>
                </form>    
            </div>
        </div>
    </body>
    {% endif %}
</html>