<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lista de Filmes</title>
  </head>
  <body>
    <table>
      <tr>
        <th> Título</th>
        <th> Ano de lançamento </th>
        <th> Diretor </th>
        <th> Gênero </th>
        <th> País de Origem </th>
        <th> Duração </th>
      </tr>
      {% for movie in movies %}
        <tr>
          <td> {{movie.title}} </td>
          <td> {{movie.year_of_release}} </td>
          <td> {{movie.director}} </td>
          <td> {{movie.genre}} </td>
          <td> {{movie.country}} </td>
          <td> {{movie.runtime}} min. </td>
          <td> <a href="{% url 'movies:update' pk=movie.id %}"> Editar </a> </td>
        </tr>
      {% empty %}
        Você ainda não cadastrou filmes
      {% endfor %}
    </table>
  </body>
</html>
